
<div class="vertical-menu" style="margin-top:0px;">
    <a style="font-size:35px;"><div>Lorem</div><div>Ipsum</div></a>
     <a class="s1">About</a>
     <a class="s1">Services</a>
     <a class="s1">Cuisine</a>
     <a class="s1">Gallery</a>
     <a class="s1">Contact</a>
     <a class="s1">Book</a>
     <div class="s3">

     <button  type="button" class="btn btn-danger"><div class="s2">Cart</div></button></div>
   </div>
   <div class="row">

   <div class="col-md-8">
   <div  class="s4">
       <h1 style="font-size:60px; margin-top :90px; font-style:inherit;">What are you</h1>
       <h1 style="font-size:60px; margin-top:10px;">having for Lunch?</h1>
   </div></div>
   <div class="col-md-4">
   <div class="s5">
       <p style=" margin-top:90px;">Lorem ipsum dolor sir amet,</p>
       <p style=" margin-top:10px;">consectetur adipiscing elit,</p>
       <p style=" margin-top:10px;">sed do eiusmod tempor</p>
       <p style=" margin-top:10px;">incididunt ut labore et.</p>
       
   </div>
   </div>
   </div>

   <div class="a2">
    <div class="row">
      
        <div class="col-md-2">
            <div class="c1">
                <img src="assets/image1.png" class="i1" width=125px; style="margin-left:15px;">
                <div style="font-size:20px; margin-top:10px; margin-left:40px;">
                Mexican Taco</div>
            </div></div>
            <div class="col-md-2">
              <div class="c1">
                  <img src="assets/image2.png"  class="i1" width=125px; height=125px; style="margin-left:15px;">
                <div style="font-size:20px; margin-top:10px; margin-left:30px;">
                  Farmhouse pizza
              </div></div>        
        
    </div>
    <div class="col-md-2">
        <div class="c1">
            <img src="assets/image3.png"  class="i1" width=125px; height=125px; style="margin-left:15px;">
          <div style="font-size:20px; margin-top:10px; margin-left:40px;">
            Chicken burger
        </div></div>        
  
</div>
<div class="col-md-2">
    <div class="c1">
        <img src="assets/image4.png"  class="i1" width=125px; height=125px; style="margin-left:15px;">
      <div style="font-size:20px; margin-top:10px; margin-left:40px;">
        Loaded nachos
    </div></div>        

</div>
<div class="col-md-2">
    <div class="c1">
        <img src="assets/image5.png"  class="i1" width=125px; height=125px; style="margin-left:15px;">
      <div style="font-size:20px; margin-top:10px; margin-left:30px;">
        Hakka Noodles
    </div></div>        

</div>
    </div>
    </div>

