<nav class="navbar navbar-expand-lg navbar-white bg-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
        <a class="nav-link" style="color:red; font-size:40px; margin-left:30px;"><i class="fas fa-bars"></i></a>
        <li class="nav-item">
          <a class="nav-link" style="color:black; font-size:50px; margin-left:470px" ><strong>Lorem</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color:red; font-size:40px; margin-left:520px;"><i class="fas fa-shopping-cart"></i></a>
          </li>
          
      </ul>
    </div>
  </nav>
  <div class="a1">
      <h1 style="margin-top:30px; font-size:60px;">What are you</h1>
      <h1 style="margin-top:10px; font-size:60px;">having for Lunch?</h1>
  </div>
  <div class="a2">
      <div class="row">
        
          <div class="col-md-6">
              <div class="c1">
                  <img src="assets/image1.png" class="i1" width=250px; style="margin-left:25px;">
                  <div style="font-size:25px; margin-top:10px; margin-left:70px;">
                  Mexican Taco</div>
              </div></div>
              <div class="col-md-6">
                <div class="c1">
                    <img src="assets/image2.png"  class="i1" width=250px; height=250px; style="margin-left:25px;">
                  <div style="font-size:25px; margin-top:10px; margin-left:60px;">
                    Farmhouse pizza
                </div></div>        
          
      </div>
      </div>
      </div>
      <div class="a3">
      <div class="row">
        
        <div class="col-md-6">
            <div class="c1">
                <img src="assets/image3.png"  class="i1" width=250px; height=250px; style="margin-left:25px;">
                <div style="font-size:25px; margin-top:10px; margin-left:65px;">
                Chicken burger</div>
            </div></div>
            <div class="col-md-6">
              <div class="c1">
                  <img src="assets/image4.png"  class="i1" width=250px; height=250px; style="margin-left:25px;">
                <div style="font-size:25px; margin-top:10px; margin-left:65px;">
                  Loaded Nachos
              </div></div>        
        
    </div>
  </div>
  </div>

  <div class="a4">
      <p style="margin-top:50px;">Lorem ipsum dolor sit amet, consectetur</p>
      <p style="margin-top:10px;">adipiscing elit, sed do eiusmod tempor</p>
      <p style="margin-top:10px;">incididunt ut labore et.</p>
  </div>
  <div class="a5">
      <p>-</p>
  </div>
