<div class="erase">
	<nav class="navbar navbar-expand-lg navbar-black bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
		  <a class="navbar-brand" style="color:red; font-size: 30px;" ><strong>angualrtopics</strong></a>
		  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
			<a class="nav-link" style="color:white; font-size:15px; margin-left:130px;" routerLink='/databinding'>databinding</a>
			<li class="nav-item">
			  <a class="nav-link" style="color:white; font-size:15px;" routerLink='/directives'>Directives</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" style="color:white; font-size:15px;" routerLink="/routingandpipes">Routingandpipes</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" style="color:white; font-size:15px;" routerLink="/reactiveforms">reactiveforms</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" style="color:white; font-size:15px;" routerLink="/templatedriven" >Templatedrivenforms</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" style="color:white; font-size:15px;" routerLink="/parentcomp">parent</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" style="color:white; font-size: 15px;" routerLink="/siblingcomp">sibling</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" style="color:white; font-size: 15px;" routerLink="/lifecyclecomp">LifeCycle</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" style="color:white; font-size: 15px;" routerLink="/http">HTTP-REQ</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" style="color:white; font-size: 15px;" routerLink="/login">login</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" style="color:white; font-size: 15px;" routerLink="/lazy">lazy</a>
			  </li>
			  
			  
		
		  </ul>
		</div>
	  </nav>
	</div>

	<router-outlet></router-outlet>





